@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:
    url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  color: rgba(51, 51, 51, 1);
  background-color: #F2F2F2;
  background-repeat: repeat;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  flex-direction: column;
  box-shadow: 0 0 20px 0 #34495e;
  background-color: #ffffff;
  list-style-type: none;
  min-height: 100%;
}

.main-container-main-index {
  flex-grow: 1;
}

.main-container-main-inner {
  flex-grow: 1;
}

.navigation-link:hover {
  background-color: rgba(242, 242, 242, 1);
}

.navigation-link:focus {
  box-shadow: inset 0 0 0 4px #E7E7E7;
  outline: none;
}

.button:hover,
.footer-social-link:hover {
  background-color: rgba(242, 242, 242, 1);
}

.button:focus,
.footer-social-link:focus {
  outline: 2px solid rgba(242, 242, 242, 1);
  background-color: rgba(242, 242, 242, 1);
}

.likes {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  text-align: center;
  background-color: rgba(125, 181, 79, 1);
  color: #ffffff;
  border-radius: 100%;
  text-decoration: none;
  cursor: pointer;
  border: none;
  width: 19px;
  height: 13px;
  position: absolute;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(131, 179, 211, 1);
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.button-search {
  display: inline-block;
  box-sizing: border-box;
  color: #ffffff;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(131, 179, 211, 1);
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.button-search-catalog {
  display: inline-block;
  box-sizing: border-box;
  color: #ffffff;
  padding: 9px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(117, 98, 87, 1);
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  width: 160px;
}

.button-on {
  display: inline-block;
  box-sizing: border-box;
  color: #ffffff;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(131, 179, 211, 1);
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  width: 160px;
}

.button-off {
  display: inline-block;
  box-sizing: border-box;
  color: #ffffff;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  background-color: Transparent;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  width: 160px;
}


.more-button {
  display: flex;
  box-sizing: border-box;
  color: #ffffff;
  padding: 9px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(117, 98, 87, 1);
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  width: 151px;
}


.favarite-button {
  display: flex;
  box-sizing: border-box;
  color: #ffffff;
  padding: 9px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(131, 179, 211, 1);
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  width: 160px;
}


.popover {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  padding: 25px;
  font-family: "PT Sans", sans-serif;
  color: rgba(51, 51, 51, 1);
  background-color: #FFFFFF;
  min-height: 232px;
  box-shadow: 0 18px 40px rgba(79, 70, 60, 0.16);
}
.favorite-hotels {
  position: relative;
}

.popover-content {
  height: 100%;
}
.popover-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 35px;
  color: #000000;
  text-transform: uppercase;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.page-header {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 65px;
  margin: 0 auto;
  position: relative;
}

.navigation-logo {
 position: absolute;
 width: 138px;
 left: 50%;
 transform: translateX(-50%);
 z-index: 10;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
  padding: 24px 19px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background-color: #FFFFFF;
  width: 400px;
}
.navigation-user {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  padding: 10px 15px;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  width: 350px;
}

.navigation-link {
  text-decoration: none;
}

.advantages-list,
.feature-town,
.footer-social-list,
.hotels-list,
.pagination,
.breadcrumbs,
.catalog-filter-list ul {
  margin: 0;
  padding: 0;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-image: url("../img/background-index.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 485px;
}

.welcome:before {
  position: absolute;
  z-index: 1;
  bottom: -3px;
  left: 0;
  content: "";
  width: 1200px;
  height: 59px;
  background-repeat: no-repeat;
  background-image: url("../img/vector.svg");
}




.advantages {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}
.advantages-header {
  display: block;
  width: 720px;
  flex-wrap: wrap;
  padding: 63px;
  margin: 0 auto;
  text-align: center;
}
.advantages-header-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}
.advantages-header-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: rgba(51, 51, 51, 1);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  text-align: center;
}

div.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  padding: 45px 0;
  width: 400px;
  background-color: #83B3D3;
  color:rgba(255, 255, 255, 1);
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}


.feature-town {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.advantages-town-house {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: baseline;
  margin: 0;
  padding: 0;
  padding-top: 56px;
  padding-bottom: 67px;
  width: 400px;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(131, 179, 211, 0.12);
  position: relative;
}

.advantages-town-house:before {
 background-image: url("../img/house.svg");
 position: absolute;
 content: "";
 width: 75px;
 height: 72px;
}

img.content-image-2 {
  display: flex;
}

img.content-image-1 {
  display: flex;
}

.advantages-town-food {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: baseline;
  margin: 0;
  padding: 0;
  padding-top: 56px;
  padding-bottom: 67px;
  width: 400px;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(255, 255, 255, 1);
  position: relative;
}

.advantages-town-food:before {
  background-image: url("../img/food.svg");
  position: absolute;
  content: "";
  width: 74px;
  height: 70px;
  }

.advantages-town-gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: baseline;
  margin: 0;
  padding: 0;
  padding-top: 56px;
  padding-bottom: 67px;
  width: 400px;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-town-gift:before {
  background-image: url("../img/gift.svg");
  position: absolute;
  content: "";
  width: 65px;
  height: 76px;
  }

.advantages-place-land {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: baseline;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 56px;
  padding-bottom: 120px;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  color: rgba(51, 51, 51, 1);
}

.advantages-place-road {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: baseline;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 56px;
  padding-bottom: 120px;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  color: rgba(51, 51, 51, 1);
}

.advantages-place-turist {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: baseline;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 56px;
  padding-bottom: 120px;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  color: rgba(51, 51, 51, 1);
}


.search-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: rgba(51, 51, 51, 1);
  padding-top: 91px;
  padding-bottom: 108px;
  margin: 0;
}
.search-hotel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 720px;
  margin: 0 auto;
}
.search-hotel-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.newsletter-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("../img/background-newsletter.jpg");
  text-align: center;
  background-repeat: no-repeat;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 720px;
  margin: 0 auto;
}


.hotel-card p {
  display: flex;
  margin: 0;
}

.hotel-card h2 {
  display: flex;
  margin: 0;
}

.page-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.newsletter-catalog-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.newsletter-catalog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  color: #000000;
  background-color: white;
  text-align: center;
  padding: 63px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: rgba(51, 51, 51, 1);
  width: 720px;
}
.page-title-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}




.catalog {
  display: flex;
  flex-wrap: wrap;
  width: 1056px;
  justify-content: flex-start;
  margin: 0 auto;
}
.catalog-hotels {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-image: url("../img/background-catalog.jpg");
  background-size: 100% auto;
  margin: 0;
}
.inner-header {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  width: 600px;
  padding-bottom: 20px;
}
.inner-header-title {
  display: flex;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 77px;
  color: rgba(255, 255, 255, 1);
  margin: 0;
}



.filter {
  display: flex;
  margin: auto;
  list-style-type: none;
}

.group {
  display: flex;
  margin: auto;
}

.filter-button {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
}


.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1057px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
}

.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: rgba(255, 255, 255, 1);
}

.catalog-filter-group {
  display: flex;
  border: none;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}


.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #a3a2a2;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.range-toggle:hover {
  background-color: rgba(242, 242, 242, 1);
}
.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid rgba(242, 242, 242, 1);
}
.toggle-min {
  top: -8px;
  left: -10px;
}
.toggle-max {
  top: -8px;
  right: -10px;
}
.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  border: 2px solid #F2F2F2;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  width: 287px;
}
.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}
.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}


.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color:#FFFFFF;
}

.show-more {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.pagination-show-more {
display: flex;
justify-content: center;
width: 625px;
}




.pagination-container {
  display: flex;
  padding: 16px;
  background-color: #FFFFFF;
}
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 20px;
  line-height: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: rgba(131, 179, 211, 1);
  text-decoration: none;
  border-radius: 5px;
}
.pagination-link:hover {
  background-color: rgba(242, 242, 242, 1);
}

.pagination-link:focus {
  outline: 2px solid rgba(242, 242, 242, 1);
  background-color: rgba(242, 242, 242, 1);
}
.pagination-current {
  color: #242424;
  background-color: rgb(255, 255, 255);
}

.pagination-disabled {
  background-color: #595959;
}
.pagination-clear {
  margin-top: 24px;
  padding: 0;
  background-color: transparent;
}



.hotels-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}




.hotel-card {
  margin: 0;
  padding: 0;
  font-size: 18px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

h2.hotel-card-title {
  font-size: 24px;
}
p.hotel-card-description {
  font-size: 100px;
}


.hotel.html {
  display: flex;
  justify-content: flex-start;
}

.hotel-card-description {
  display: flex;
  flex-wrap: wrap;
  width: 318px;
  margin: 0;
  padding-left: 20px;
}
.hotel-card-button {
  display: flex;
}


.hotel-card-rating {
  display: flex;
  padding-top: 10px;
  margin-left: auto;
  flex-direction: column;
}




.hotels {
  display: flex;
  justify-content: center;
  width: 1056px;
  flex-direction: column;
  margin: 0 auto;
}

.sorting-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}


.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 56px;
  height: 44px;
  background-color: #ffffff;
  outline: 2px solid #E5E5E5;
  outline-offset: -5px
}

.field {
  margin: 0;
  padding: 8px 14px;
  font: inherit;
  font-weight: 700;
  background-color: #FFFFFF;
  border: 2px solid #242424;
}
.field:hover,
.field:focus {
  border-color: #AF7842;
}
.field:focus {
  outline: 2px solid #DBB590;
}
.field:disabled,
.field:disabled:hover {
  color: #595959;
  background-color: #DBB590;
  border-color: #595959;
}
.field:invalid {
  box-shadow: none;
}
.field:focus:invalid {
  border-color: #EA5454;
}
.field::placeholder {
  color: #DBDBDB;
  opacity: 1;
}

.newsletter-email {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin: 0;
  position: relative;
}

.newsletter-email .field {
  width: 600px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 10px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none
}



.footer-social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  list-style-type: none;
  margin: 0 auto;
}


.footer-contacts-address-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  margin: 0 auto;
}

.page-footer .htmlacademy-link {
  display: flex;
  align-items: center;
  width: 115px;
  font-size: 14px;
  font-size: 14px;
  color: #050000;
  margin: 0 auto;
}
a.footer-contacts-address-phone {
  text-decoration: none;
}








.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}
.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #FFFFFF;
  border-radius: 5px;
}
.modal-auth {
  width: 715px;
}
.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 53px;
  height: 53px;
  background-color: rgba(242, 242, 242, 1);
  border: none;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 100%;
}
.modal-title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.modal-container-close {
  display: none;
}
