@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  color: rgba(51, 51, 51, 100%);
  background-color: #F2F2F2;
  background-repeat: repeat;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  flex-direction: column;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 40%);
  background-color: #ffffff;
  list-style-type: none;
  min-height: 100%;
}

.main-container-main-index {
  flex-grow: 1;
}

.main-container-main-inner {
  flex-grow: 1;
}

.navigation-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 100%);
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  right: 0;
  bottom: -21px;
  left: 0;
  height: 3px;
  background-color: rgba(117, 98, 87, 100%);
  content: "";
  z-index: 1;
}

.navigation-link:hover {
  color: rgba(117, 98, 87, 100%);
}

.navigation-link:focus {
  outline: none;
  box-shadow: 0 0 0 5px #ffffff, 0 0 0 10px #83b3d3;
  border-radius: 5px;
}

.navigation-link:active {
  opacity: 0.6;
}

.footer-social-link:hover {
  color: #ffffff;
}

.footer-social-link:focus {
  outline: none;
	border-radius: 5px;
  box-shadow: 0 0 0 5px #ffffff,  0 0 0 10px #83b3d3;
}

.footer-contacts-address-phone:hover {
  color: rgba(117, 98, 87, 100%);
}

.footer-contacts-address-phone:focus {
  outline: none;
  box-shadow: 0 0 0 5px #ffffff, 0 0 0 10px #83b3d3;
  border-radius: 5px;
}

.htmlacademy-link:hover {
  color: rgba(117, 98, 87, 100%);
}

.htmlacademy-link:focus {
  outline: none;
  box-shadow: 0 0 0 5px #ffffff, 0 0 0 10px #83b3d3;
  border-radius: 5px;
}

.likes {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 10px;
  line-height: 19px;
  font-weight: 400;
  text-align: center;
  background-color: rgba(125, 181, 79, 100%);
  color: #ffffff;
  border-radius: 100%;
  text-decoration: none;
  cursor: pointer;
  border: none;
  min-width: 19px;
  min-height: 19px;
  position: absolute;
  top: -10px;
  left: 12px;
}

.newsletter-button {
  display: inline-block;
  box-sizing: border-box;
  padding: 22px 34px;
  font-family: inherit;
  font-size: 20px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(131, 179, 211, 100%);
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.newsletter-button:hover {
  background-color: #68A2CA;
}

.newsletter-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #756257;
  border-radius: 5px;
}

.newsletter-button:active {
  opacity: 0.9;
}

.button-search {
  display: flex;
  box-sizing: border-box;
  align-self: center;
  justify-content: center;
  color: rgba(255, 255, 255, 100%);
  padding: 14px 20px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(117, 98, 87, 100%);
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  width: 575px;
}

.button-search:hover {
  background-color: rgba(97, 80, 72, 100%);
}

.button-search:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 5px;
}

.button-search:active {
  opacity: 0.9;
}

.button-search-catalog {
  display: flex;
  box-sizing: border-box;
  color: #ffffff;
  padding: 9px 34px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(117, 98, 87, 100%);
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  margin-left: 10px;
}

.button-search-catalog:hover {
  background-color: rgba(97, 80, 72, 100%);
}

.button-search-catalog:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 5px;
}

.button-search-catalog:active {
  opacity: 0.9;
}

.button-on {
  display: inline-block;
  box-sizing: border-box;
  color: #ffffff;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(131, 179, 211, 100%);
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  width: 160px;
  margin-top: 55px;
}

.button-off {
  display: inline-block;
  box-sizing: border-box;
  color: #ffffff;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  background-color: Transparent;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  width: 160px;
}

.button-off:hover {
  opacity: 0.6;;
}

.button-off:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 5px;
}

.button-off:active {
  opacity: 0.9;
}

.button-on:hover {
  background-color: rgba(104, 162, 202, 100%);
}

.button-on:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff;
  border-radius: 5px;
}

.button-onore:active {
  opacity: 0.9;
}

.more-button {
  display: flex;
  box-sizing: border-box;
  color: #ffffff;
  padding: 9px 32px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(117, 98, 87, 100%);
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  margin-right: 10px;
}

.more-button:hover {
  background-color: rgba(97, 80, 72, 100%);
}

.more-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 5px;
}

.more-button:active {
  opacity: 0.9;
}

.favorite-button {
  display: flex;
  box-sizing: border-box;
  color: #ffffff;
  padding: 9px 29px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(131, 179, 211, 100%);
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.favorite-button:hover {
  background-color: rgba(104, 162, 202, 100%);
}

.favorite-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #756257;
  border-radius: 5px;
}

.favorite-button:active {
  opacity: 0.9;
}

.favorite-button-current {
  display: flex;
  box-sizing: border-box;
  color: #ffffff;
  padding: 9px 30px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(125, 181, 79, 100%);
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.favorite-button-current:hover {
  background-color: rgba(108, 158, 66, 100%);
}

.favorite-button-current:focus {
  outline: none;
  box-shadow: 0 0 0 3px #756257;
  border-radius: 5px;
}

.favorite-button-current:active {
  opacity: 0.9;
}

.popover {
  position: absolute;
  top: 38px;
  right: -193px;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 20px;
  width: 400px;
  padding: 25px;
  font-family: "PT Sans", sans-serif;
  color: rgba(51, 51, 51, 100%);
  background-color: #ffffff;
  min-height: 232px;
  border: 1px solid #E5E5E5;
  padding-bottom: 0;
}

.popover::after {
  content: "";
  position: absolute;
  width: 14px;
  min-height: 14px;
  transform: rotate(45deg);
  top: -0.4rem;
  left: 11.9rem;
  background-color: #ffffff;
  box-shadow: -1px -1px 0 0 #e6e6e6;
}

.popover-content {
  display: flex;
  margin: 0;
  flex-direction: column;
}

.favorite-hotels {
  position: relative;
}

.hotels-favorites-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 24px;
}

.hotel-card-favorite {
  font-size: 18px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center
}

.hotel-card-favorite-description {
  display: flex;
  margin: 0;
  padding-right: 10px;
  padding-left: 16px;
}

.hotel-card-favorite-title {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.hotel-card-favorite p {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.all-favorites-button {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  color: #ffffff;
  padding: 20px 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #756257;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  margin-left: -26px;
  margin-right: -26px;
  margin-bottom: -1px;
}

.delete {
  display: flex;
  margin-left: auto;
  padding-bottom: 19px;
}

.hotel-card-favorite:not(:last-child) {
  margin-bottom: 24px;
}

.delete-button:hover {
  background-color: rgba(117, 98, 87, 100%);
}

.delete-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #ffffff,  0 0 0 10px #83b3d3;
  border-radius: 5px;
}

.delete-button:active {
  opacity: 0.6;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  min-height: 65px;
  margin: 0 auto;
  position: relative;
}

.navigation-logo {
  position: absolute;
  width: 138px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 13px 72px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 0, 0, 100%);
  background-color: #ffffff;
  min-width: 309px
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 250px;
  padding: 10px 72px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 15px;
  font-weight: 700;
}

.hotel-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 100%);
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 12px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: -4px;
  left: 2px;
  content: url("../img/check-mark.svg");
}

.select-control {
  display: flex;
  width: 287px;
  padding: 11px 16px;
  margin-right: 74px;
  margin-bottom: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: start;
  color: rgba(0, 0, 0, 100%);
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  background-image: url("../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.hotels-per-page {
  display: flex;
  width: 115px;
  padding: 8px 22px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: start;
  color: rgba(0, 0, 0, 100%);
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  background-image: url("../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  border-radius: 3px;
}

.hotels-per {
  display: flex;
  padding-left: 250px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: rgba(51, 51, 51, 100%);
}

.select-control:hover {
  border-color: rgba(131, 179, 211, 100%);
}

.select-control:focus {
  border-color: rgba(131, 179, 211, 100%);
}

.select-control:active {
  opacity: 0.6;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: rgba(63, 94, 114, 100%);
  border-radius: 50%;
  content: "";
}

.advantages-list,
.feature-town,
.footer-social-list,
.hotels-list,
.pagination,
.breadcrumbs, ul {
  margin: 0;
  padding: 0;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-image: url("../img/background-index.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 485px;
}

.welcome-image {
  padding-bottom: 30px;
}

.welcome:before {
  position: absolute;
  z-index: 1;
  bottom: -3px;
  left: 0;
  content: "";
  width: 1200px;
  height: 59px;
  background-repeat: no-repeat;
  background-image: url("../img/vector.svg");
}

.advantages {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.advantages-header {
  display: block;
  width: 720px;
  flex-wrap: wrap;
  padding: 62px;
  margin: 0 auto;
  text-align: center;
}

.advantages-header-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 100%);
  margin: 0;
  padding-bottom: 31px;
}

.advantages-header-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: rgba(51, 51, 51, 1);
  margin: 0;
  padding-bottom: 20px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  text-align: center;
}

.advantages-description {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-top: 20px;
  min-width: 200px;
}

div.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 45px 0;
  width: 400px;
  background-color: #83b3d3;
  color: rgba(255, 255, 255, 1);
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  min-width: 200px;
  margin-left: 100px;
  margin-right: 100px
}

.feature-town {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.advantages-town-house {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: baseline;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 140px;
  width: 400px;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(131, 179, 211, 0.12);
  position: relative;
}

.advantages-town-house:before {
  background-image: url("../img/house.svg");
  position: static;
  content: "";
  width: 75px;
  height: 72px;
}

img.content-image-2 {
  display: block;
}

img.content-image-1 {
  display: block;
}

.advantages-town-food {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: baseline;
  margin: 0;
  padding: 0;
  padding-top: 56px;
  padding-bottom: 67px;
  width: 400px;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(255, 255, 255, 1);
  position: relative;
}

.advantages-town-food:before {
  background-image: url("../img/food.svg");
  position: static;
  content: "";
  width: 74px;
  height: 70px;
}

.advantages-town-gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: baseline;
  margin: 0;
  padding: 0;
  padding-top: 56px;
  padding-bottom: 138px;
  width: 400px;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-town-gift:before {
  background-image: url("../img/gift.svg");
  position: static;
  content: "";
  width: 64px;
  height: 76px;
}

.advantages-place-land {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: baseline;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 56px;
  padding-bottom: 168px;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  color: rgba(51, 51, 51, 1);
}

.advantages-place-road {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: baseline;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 56px;
  padding-bottom: 189px;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  color: rgba(51, 51, 51, 1);
}

.advantages-place-tourist {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: baseline;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 56px;
  padding-bottom: 197px;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  color: rgba(51, 51, 51, 1);
}

.search-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: rgba(51, 51, 51, 1);
  padding-bottom: 108px;
  margin: 0;
}

.hotels-per-page:hover {
  border: 3px solid #83b3d3;
  outline: none;
}

.search-hotel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 720px;
  margin: 0 auto;
}

.search-hotel-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 89px;
}

.search-hotel-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding-bottom: 50px;
  text-align: center;
  padding-left: 12px;
  padding-right: 25px;
}

.hotels-found {
  display: flex;
  margin-right: auto;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.newsletter-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("../img/background-newsletter.jpg");
  text-align: center;
  background-repeat: no-repeat;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  padding-top: 94px;
  padding-bottom: 131px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 720px;
  margin: 0 auto;
}

.description {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-bottom: 38px;
  justify-content: space-between;
}

.hotel-card p {
  display: flex;
  margin: 0;
  line-height: 10px;
}

.hotel-card p:last-child {
  padding-right: 83px;
}

.hotel-card h2 {
  display: flex;
  margin: 0;
}

.page-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 28px;
}

.newsletter-description {
  padding-bottom: 85px;
  margin: 0;
  margin-top: 30px;
  padding-right: 91px;
  padding-left: 90px
}

.newsletter-catalog-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 20px;
}

.newsletter-catalog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
  padding: 63px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: rgba(51, 51, 51, 1);
  width: 720px;
  margin-bottom: 94px;
}

.page-title-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  width: 1056px;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 63px;
}

.catalog-hotels {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-image: url("../img/background-catalog.jpg");
  background-size: 100% auto;
  margin: 0;
}

.inner-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 41px;
}

.inner-header-title {
  display: flex;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 77px;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  padding-top: 12px
}

.filter {
  display: flex;
  list-style-type: none;
  margin-right: 95px;
}

.group {
  display: flex;
  margin: 0;
}

.filter-button {
  display: flex;
  flex-direction: column;
}









.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1057px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-main:hover svg {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.breadcrumbs-link:focus svg {
  fill: #ffffff;
}

.breadcrumbs-link:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-main:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 31px;
  padding-left: 0;
}

.catalog-filter-group {
  display: flex;
  border: none;
  padding-left: 0;
  padding-top: 0;
  padding-right: 65px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.breadcrumbs-link-main {
  padding-right: 27px;
  position: relative;
}

.breadcrumbs-link-main::after {
  background-image: url("../img/arrow.svg");
  position: absolute;
  content: "";
  width: 5px;
  height: 8px;
  background-repeat: no-repeat;
  opacity: 0.6;
  top: 6px;
  left: 24px;
}

.range {
   padding-right: 4px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: rgba(255,255,255,0.5);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.catalog-filter-label-min,
.catalog-filter-label-max {
  display: flex;
  border: 2px solid #F2F2F2;
  border-right: none;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 287px;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-right: 14px;
  padding-top: 14px;
  padding-bottom: 9px;
  color: rgba(255,255,255,0.5);
}

.catalog-filter-label-max {
  border: 2px solid #F2F2F2;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.catalog-filter-label-max:hover {
  opacity: 0.6;
}

.catalog-filter-label-min:hover {
  opacity: 0.6;
}

.catalog-filter-label-max:active {
  outline: none;
  box-shadow: 0 0 0 2px #83b3d3;
  border-radius: 5px;
  background-color: #756257;
}

.catalog-filter-label-min:active {
  outline: none;
  box-shadow: 0 0 0 2px #83b3d3;
  border-radius: 5px;
  background-color: #756257;
}

.range-toggle:hover {
  background-color: #83b3d3;
}

.range-toggle:focus {
  outline: none;
  box-shadow: 0 0 0 2px #83b3d3;
  border-radius: 5px;
}

.range-toggle:active {
  outline: none;
  box-shadow: 0 0 0 5px #83b3d3;
  border-radius: 5px;
}

.toggle-min {
  top: -8px;
  left: -0px;
}

.toggle-max {
  top: -8px;
  right: -17px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin: 0;
  padding-bottom: 32px;
  width: 287px;
}

.max-label {
  border: 2px solid #F2F2F2;
}

.range-input {
  width: 50px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.show-more {
  display: flex;
  justify-content: center;
  padding-bottom: 28px;
  padding-top: 28px;
  border-bottom: 2px solid #E5E5E5;
}

.pagination-show-more {
  display: flex;
  justify-content: center;
  width: 625px;
}

.button-pagination-show-more {
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 240px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(131, 179, 211, 1);
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.button-pagination-show-more:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button-pagination-show-more:focus {
  outline: none;
  box-shadow: 0 0 0 3px #756257;
  border-radius: 5px;
}

.button-pagination-show-more:active {
  opacity: 0.6;
}

.hotel-card-title:hover {
  color: rgba(117, 98, 87, 1);
  opacity: 0.9;
}

.hotel-link:focus {
  outline: none;
  box-shadow: 0 0 0 5px #83b3d3;
  border-radius: 5px;
}

.hotel-link:active {
  opacity: 0.9;
}

.hotel-card-image:hover {
  opacity: 0.6;
}

.hotel-card-image:focus {
  outline: none;
  box-shadow: 0 0 0 5px #83b3d3;
  border-radius: 5px;
}

.hotel-card-image:active {
  opacity: 0.9;
}

.pagination-container {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  box-sizing: border-box;
  width: 55px;
  padding: 19px 20px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: rgba(131, 179, 211, 1);
  text-decoration: none;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.pagination-link:hover {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-link:focus {
  outline: none;
  box-shadow: 0 0 0 3px #756257;
  border-radius: 5px;
}

.pagination-link:active {
  opacity: 0.6;
}

.pagination-current {
  color: #242424;
  background-color: #F2F2F2;
}

.pagination-disabled {
  background-color: #595959;
}

.pagination-clear {
  margin-top: 24px;
  padding: 0;
  background-color: transparent;
}

.hotels-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hotel-card {
  padding-top: 24px;
  padding-bottom: 14px;
  font-size: 18px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #E5E5E5;
}

h2.hotel-card-title {
  font-size: 24px;
}

.hotel.html {
  display: flex;
  justify-content: flex-start;
}

span.rating {
  grid-row: 4 / 5;
  grid-column: 3 / -1;
  width: 160px;
  padding-top: 8px;
  padding-bottom: 9px;
  justify-self: end;
  align-self: end;
  font-size: 16px;
  line-height: 20.7px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  background: #f2f2f2;
  border-radius: 4px;
}

.star-rating {
  display: flex;
  padding-bottom: 58px;
}

.rating-icon {
  padding-right: 5px;
}

.hotel-card-description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding-left: 36px;
  padding-right: 20px;
  padding-bottom: 19px;
}
.hotel-card-button {
  display: flex;
}

.hotel-card-rating {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
}

.hotels {
  display: flex;
  justify-content: center;
  width: 1056px;
  flex-direction: column;
  margin: 0 auto;
}

.sorting-container {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding-bottom: 40px;
  margin-top: 41px;
  border-bottom: 2px solid #e5e5e5;
  padding-top: 5px;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 14px;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 3px;
  margin-left: 8px;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
  border-radius: 3px;
}

.card-grid {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.card-grid-toggle:hover {
  outline: none;
  box-shadow: 0 0 0 1px #83b3d3;
}

.card-grid-toggle:focus {
  outline: none;
  box-shadow: 0 0 0 1px #83b3d3;
}

.card-grid-toggle:active {
  color: #000000;
}

.newsletter-email .field {
  width: 600px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
}

.field {
  margin: 0;
  padding: 8px 22px;
  font: inherit;
  font-weight: 700;
  background-color: #ffffff;
  border: none;
}

.field:hover {
  background: #e5e5e5;
}

.field:focus {
  background: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.field:not(:placeholder-shown) {
  background: #F2F2F2;
  color: #000000;
  outline: none;
}

.newsletter-email {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin: -40px;
  position: relative;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  min-width: 170px;
  list-style-type: none;
  font-size: 20px;
  line-height: 15px;
  font-weight: 700;
  padding-left: 41px;
}

.footer-contacts-address-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  text-decoration: none;
  padding-right: 22px;
}

.htmlacademy-link {
  display: flex;
  align-items: center;
  width: 115px;
  font-size: 14px;
  color: #050000;
  margin-right: 71px
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  z-index: 100;
}

.modal-container-close {

}

.modal {
  position: relative;
  margin: auto;
  padding-top: 58px;
  padding-left: 68px;
  padding-right: 72px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 #e5e5e5;
  border-radius: 30px;
}

.modal-title-close {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 53px;
}

.modal-close-button {
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
  padding: 0;
  top: 0;
  right: 0;
  width: 53px;
  height: 53px;
  background-color: rgba(242, 242, 242, 1);
  border: none;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 100%;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
  border-radius: 50%;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  outline: none;
  opacity: 30%;
}

.modal-title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.modal-search-form {
  width: 575px;
  padding-left: 2px;
}

.search-form-options {
  display: flex;
  margin-bottom: 1px;
}

.field-group p {
  margin: 0;
  padding: 0;
}

.modal-search-form .field-group {
  display: flex;
  width: 575px;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 40px;
}

.field-group input {
  box-sizing: border-box;
  padding: 3px 18px;
  background-color: rgba(242, 242, 242, 1);
  border: 2px solid transparent;
}

.field-group input:hover,
.field-group input:focus {
  background-color: #e5e5e5;
}

.field-group input:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.field-icon .date-field:not(:placeholder-shown) {
  color: #000000;
}

.field-icon .date-field:focus(:placeholder-shown) {
  outline: 3px solid #83b3d3;
  border-color: #e5e5e5;
  border: 2px solid transparent;
}

.field-icon .date-field:focus {
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid #000000;
  border-radius: 4px;
  outline: none;
  background: #ffffff;
}

input[type="text"] {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.6);
}

.modal-form-lable {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  padding-top: 10px;
  padding-right: 30px;
  margin-right: auto;
}

.field-group-wrapper {
  display: flex;
  flex-direction: column;
}

.field-icon {
  position: relative;
}

.field-icon::after {
  position: absolute;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  left: 386px;
  top: 50%;
  content: "";
  transform: translateY(-50%);
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
}

.date-field {
  width: 420px;
}

.message-error {
  position: relative;
}

.message-success {
  position: relative;
}

.message-error::after {
  position: absolute;
  content: "Мы не можем отправить вас в прошлое.";
  width: 420px;
  top: 3.1rem;
  left: 9.65rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #ff5757;
}

.message-success::after {
  position: absolute;
  content: "На эти даты есть свободные номера. Пока есть.";
  width: 420px;
  top: 3.1rem;
  left: 9.65rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #333333;
}

.count-visitors {
  position: relative;
  width: 133px;
  display: flex;
}

.count-visitors p {
  margin: 0;
  padding: 0;
}

.count-visitors input[value] {
  width: 133px;
  font: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  text-align: center;
}

.count-input-button {
  margin: 0;
  padding: 0;
  width: 19px;
  height: 19px;
  border: none;
  cursor: pointer;
}

.count-input-minus-button {
  display: inline-block;
  position: relative;
  top: -2px;
  right: 0;
  bottom: 0;
  left: 19px;
  margin: auto;
  border-radius: 4px;
}

.count-input-plus-button {
  display: inline-block;
  position: relative;
  top: -2px;
  right: 0;
  bottom: 0;
  left: -32px;
  margin: auto;
  border-radius: 4px;
}

.icon-minus {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 13px;
  height: 13px;
  border-radius: 4px;
  fill: rgba(0, 0, 0, 0.3);
}

.icon-plus {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 13px;
  height: 13px;
  border-radius: 4px;
  fill: rgba(0, 0, 0, 0.3);
}

.count-input-button:hover .count-icon {
  fill: #000000;
}

.count-input-button:focus .count-icon {
  fill: #000000;
  outline: 3px solid #83b3d3;
  outline-offset: 3px;
  border-radius: 1px;
}

.count-input-button:active .count-icon {
  fill: rgba(0, 0, 0, 0.2);
  outline: none;
}

.tooltip {
  display: inline-block;
  position: relative;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  overflow: hidden;
}

.tooltip-a {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 14px;
  left: 111px;
  background-color: #83b3d3;
  border: none;
  border-radius: 50%;
  background-image: url("../img/info.svg");
  fill: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.form-label-icon button + span {
  display: block;
  box-sizing: border-box;
  width: 256px;
  padding: 19px 18px 24px 23px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  z-index: 1;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  pointer-events: none;
  cursor: pointer;
}

.form-label-icon button:hover + span {
  visibility: visible;
}

.form-label-icon span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #333333  transparent;
  top: -19px;
  left: 46%;
}

.modal-search-button {
  width: 575px;
  padding: 5px 10px;
  margin-bottom: 70px;
  line-height: 40px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 10px;
  text-transform: uppercase;
  border: none;
}

.tooltip-s:hover {
  background-color: #68a2ca;
}

.form-label-icon {
  position: relative;
  padding-top: 6px;
  padding-left: 57px;
}

.form-label-icon span {
  position: absolute;
  top: 119%;
  left: -23%;
  margin-top: -5px;
  margin-left: 25px;
}
