@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("fonts\ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:
    url("fonts\ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
  height: 100%;
}




.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.page-header {
  color: #ffffff;
}
.navigation {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
  outline: 5px solid red;
  outline-offset: -5px;
}

.navigation-logo {
  width: 138px;
  outline: 5px solid red;
  outline-offset: -5px;
}

.navigation-list {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 19px;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}



.navigation-user {
  display: block;
  padding: 24px 19px;
  margin-left: auto;
  margin-right: auto;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}


.main-container {
  flex-grow: 1;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
  outline: 5px solid rgb(17, 0, 255);
  outline-offset: -5px
}


.main-container.main-index {
  display: block;
  margin: 0 auto;
  color: #000000;
}

.Welcome {
  background-image: url("../img/background-index.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.logo {
  display: block;
  margin: 0 auto;
}



.advantages-header {
  justify-content: space-between;
  padding: 63px;
  margin-bottom: 79px;
}
.advantages-header-title {
  font-family: "PT Sans" sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  background-repeat: no-repeat;
  outline: 5px solid red;
  outline-offset: -5px;
}
.advantages-header-description {
  font-family: "PT Sans" sans-serif;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  background-repeat: no-repeat;
  outline: 5px solid red;
  outline-offset: -5px
}


.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  text-align: center;
  outline: 5px solid rgb(5, 92, 255);
  outline-offset: -5px
}

img.content {
  display: flex;
  width: 800px;
}

div.advantages-item {
  display: flex;
  width: 400px;
}

.advantages {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.search-hotel {
  text-align: center;
  padding: 63px;
}


.newsletter {
  color: #ffffff;
  background-image: url("../img/background-newsletter.jpg");
  text-align: center;
  padding: 63px;
}


.newsletter-catalog {
  color: #000000;
  background-color: white;
  text-align: center;
  padding: 63px;
}

header.inner-header {
  display: flex;
  width: 1200px;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
  background-image: url("../img/background-catalog.jpg");
  background-size: 100% auto;

}
.breadcrumbs {
  display: flex;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.catalog-products {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color:#FFFFFF;
}
.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color:#FFFFFF;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1056px;
  background-color: #FFFFFF;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  line-height: 16px;
  font-weight: 700;
}
.pagination-current {
  color: #83B3D3;
  background-color: #FFFFFF;
}
.pagination-disabled {
  background-color: #FFFFFF;
}

.product-list {

}


.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1056px;
  outline: 5px solid rgb(5, 92, 255);
  outline-offset: -5px
}


.page-footer {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.page-footer-container {
  display: flex;
  justify-content: space-around;
  width: 1191px;
  margin: 0 auto;
  padding: 40px 0;
  outline: 5px solid blue;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 400px;
  outline: 5px solid red;
  outline-offset: -5px;
  list-style-type: none;
}


.footer-contacts-address-phone {
  display: flex;
  width: 600px;
  font-family: "PT Sans", sans-serif;;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  outline: 5px solid red;
  outline-offset: -5px;
}

.page-footer .htmlacademy-link {
  display: flex;
  font-size: 14px;
  font-size: 14px;
  color: #050000;
}
